*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Helvetica, sans-serif;
}

h1 h2 h3 h4 {
	font-family: Verdana, sans-serif;
}

nav {
	padding: 5px;
	text-align: center;
	background-color: lightcoral;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0.5rem;
	padding: 3px;
}

#landing {
	background-image: url(https://e0.pxfuel.com/wallpapers/970/388/desktop-wallpaper-21-background-calm-anime-anime-peace.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 50vh;
	color: white;
}

#landing > h1 {
	padding-top: 2rem;
	font-size: 3rem;
}

#landing > h3 {
	margin: 1rem;
}

button {
	padding: 0.8rem;
	background-color: lightyellow;
	border: 4px solid aquamarine;
	border-radius: px;
}

#hot {
	text-align: center;
}

#hot > h2 {
	margin: 2rem 0;
}

#hot ul li {
	display: inline-block;
	list-style-type: none;
	border: 2px solid lightskyblue;
	border-radius: 2px;
	padding: 3rem;
	margin: 0.5rem;
}